<div class="container" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="about-card">
            <mat-card-header>
                <mat-card-title>Informacion</mat-card-title>
                <mat-card-subtitle>ChakaStudio</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <section>
                    <h2>Nuestra Tienda</h2>
                    <p>Bienvenido a Chakastore, tu tienda de moda y estilo favorita. En Chakastore, nos enorgullece ofrecerte una amplia selección de ropa de calidad, accesorios y productos que te ayudarán a expresar tu estilo único.</p>
                </section>
            
                <section>
                    <h2>Nuestra Colección</h2>
                    <p>Explora nuestra colección de productos que incluye desde ropa elegante y casual hasta accesorios de moda y calzado moderno. Nuestra variedad te permitirá encontrar opciones para cada ocasión y adaptadas a tu estilo y presupuesto.</p>
                </section>
            
                <section>
                    <h2>Calidad y Estilo</h2>
                    <p>En Chakastore, nos comprometemos a ofrecer productos de alta calidad con un enfoque en la durabilidad y el diseño. Colaboramos con marcas de renombre y diseñadores emergentes para asegurarte una experiencia de compra única.</p>
                </section>
            
                <section>
                    <h2>Servicio al Cliente</h2>
                    <p>Nuestro equipo de atención al cliente está disponible para ayudarte en cualquier momento. Si tienes preguntas o necesitas asistencia, no dudes en ponerte en contacto con nosotros. Tu satisfacción es nuestra prioridad.</p>
                </section>
            
                <section>
                    <h2>Compra en Línea</h2>
                    <p>Explora nuestra tienda en línea y disfruta de la comodidad de comprar desde tu hogar. Nuestro proceso de compra es fácil y seguro, y ofrecemos opciones de pago flexibles para tu conveniencia.</p>
                </section>
            
                <footer>
                    <p>¡Esperamos verte pronto en Chakastore!</p>
                </footer>              </mat-card-content>       
         </mat-card>
    </div>
</div>